body{
	background-color:lightblue;
	font-family: Copperplate, Fantasy;
}
h1{
	background-color:lightgreen;
	padding:10px;
	margin-top:20px;
	border:2px solid black;
	width: 100%;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}
#intro{
	background-color:lightgray;
}
.box{
	display: grid;
	gap: 20px;
}
.item{
	background-color:lightgrey;
	padding:20px;
}
#quote{
background-color:lightgreen;
}
.head{
	transform: scale(1);
	transition: transform 0.4s ease-in-out;
}
.head:hover{
	transform: scale(1.1);
}
