body{
	background-color:lightgreen;
  } 
header{
        background-color:lightblue;
  }
td,  th,  table{
        border:1px solid;
        border-collapse:collapse;
	background-color:aquamarine; 
 }
nav{
	background-color:pink;
 }
h2{
	background-color:lightblue;
}
caption{
	background-color:aqua;
}
